[2019-11-12 11:29] deadprogram opened #1 "Unable to build example"
Looks like problem with build tag.

[code]

If I modify the various `_sd` files to only be:

[code]

Then I can build as expected.

[2019-11-21 20:59] aykevl commented on #1
This should now be fixed.

[2019-11-21 21:00] #1 closed

[2020-06-24 06:49] deadprogram opened #5 "Add support for macOS"
We can add support for macOS by using https://github.com/JuulLabs-OSS/cbgo

[2020-08-28 06:49] deadprogram commented on #5
Work in progress is here: https://github.com/tinygo-org/bluetooth/pull/7

[2020-08-29 17:11] deadprogram opened #8 "linux: ParseUUID returning "bluetooth: failed to parse UUID""
None of the MAC addresses returned when I do a scan from my Ubuntu laptop seems to be able to be parsed.

Examples:

[code]

Looking at https://github.com/tinygo-org/bluetooth/blob/master/gap_linux.go#L207 and dumping the value of `props.Address` is how I came up with those values above, and also how I discovered that this line https://github.com/tinygo-org/bluetooth/blob/master/mac.go#L40 is what

[2020-08-29 17:14] deadprogram commented on #8
Here is a test file `mac_test.go`:

[code]

[2020-08-29 18:34] deadprogram opened #9 "docs: how to flash board with UF2 bootloader?"
How exactly would one go about flashing a board such as the Circuit Playground Bluefruit with the needed code to run a TinyGo Bluetooth application?

[2020-08-29 18:48] deadprogram commented on #9
I see that the prebuilt binaries for bootloaders that Adafruit has built are all for for v6.1.1 of SoftDevice:

https://github.com/adafruit/Adafruit_nRF52_Bootloader/releases

I assume that probably means that this is the firmware already on the the shipping boards? In which case my next question is, would our package be able to work with the older SoftDevice?

[2020-08-29 20:37] aykevl commented on #9
You might be able to get away with pretending the device is s132v6, but it's not a supported configuration. To use the nRF52 bootloader (with s140v6, or S140 version 6.1.1) support must be added for this specific configuration.

[2020-08-29 20:50] aykevl commented on #9
I'm working on support, it doesn't look very difficult.

[2020-08-29 21:04] aykevl commented on #9
See: https://github.com/tinygo-org/tinygo/pull/1329 and https://github.com/tinygo-org/bluetooth/pull/10.

[2020-08-30 12:49] deadprogram commented on #8
Never mind, was error in my own code. Closing.

[2020-08-30 12:49] #8 closed

[2020-09-02 06:37] deadprogram commented on #5
Now merged into `dev` branch. Will be part of next release.

[2020-09-02 06:40] deadprogram commented on #9
The needed code for this was merged into Bluetooth package here https://github.com/tinygo-org/bluetooth/pull/10 and will be part of next release. Note that a corresponding release of TinyGo itself will also be required.

[2020-09-03 06:14] deadprogram opened #13 "windows: finish adding needed interfaces to act as central"
To use this module as a BLE central from a machine running Windows there are a few more interfaces that need to be implemented.

- [ ] Connect to a Device
- [ ] DiscoverServices on Device
- [ ] DiscoverCharacteristics on a discovered Services
- [ ] Write to a characteristic
- [ ] Receive notifications from a characteristic

See https://github.com/tinygo-org/bluetooth/blob/dev/gattc_darwin.go for e

[2020-09-03 18:15] bketelsen commented on #13
@deadprogram let me poke around and see if there's anyone

[2020-09-05 08:02] deadprogram commented on #13
Thanks @bketelsen

[2020-09-07 12:01] deadprogram opened #15 "sd: unable to run scanner example"
When I try to run the scanner example with `-target circuitplay-bluefruit`, the call to `adaptor.Scan()` results in a crash. The message itself seems to be obscured, nothing comes thru except the character `p` which I perhaps assume might be due to a `panic` getting lost?

[2020-09-09 13:57] aykevl commented on #15
This is what I think should work:

[code]

However, I can't seem to get USB-CDC working reliably on the nrf52840 chips. @deadprogram can you try whether it works for you? Flashing works, so it can't be an issue with the cable.

[2020-09-09 14:13] deadprogram commented on #15
The flashing works if you are doing non-Bluetooth things. Testing with the normal "examples/echo" will show that.

I think the issue with flashing is that once board crashes, so does the USB CDC code, and you have to double-tap to get to the bootloader and use `tinygo build`.

In any case, changing the `SetPriority()` value does not seem to change the behavior.

[2020-09-09 14:30] aykevl commented on #15
Ah I see, I forgot to add a `time.Sleep` at the start to see the first output (I did it to an example I tested before, but not the scanner example). I can now again reproduce the issue.

[2020-09-09 14:32] aykevl commented on #15
Well here you go, this is with my proposed interrupt priority fix:

[code]

Probably the same as https://github.com/tinygo-org/bluetooth/pull/14#pullrequestreview-485059240.

[2020-09-14 10:31] deadprogram commented on #15
This is working now, marking for next release.

[2020-09-17 16:25] deadprogram commented on #15
This has now been released, so closing.

[2020-09-17 16:25] #15 closed, assigned to nobody

[2020-09-17 16:25] deadprogram commented on #9
This has now been released, so closing.

[2020-09-17 16:25] #9 closed

[2020-09-17 16:26] deadprogram commented on #5
This has now been released, so closing.

[2020-09-17 16:26] #5 closed

[2020-09-19 23:58] EwanValentine opened #28 "Arduino compat"
Is this library compatible with Arduino's at all? Apologies if this is a silly question!

[2020-09-20 11:56] aykevl commented on #28
Do you have a specific Arduino in mind?

If you mean the Arduino Uno, then no. At the moment we only support systems that have built-in Bluetooth support. I would like to add support for at least one external networking (BLE) chip. Unfortunately some commonly used boards (such as the HM-10) are so inflexible that they are hard to impossible to support in this library.

[2020-09-20 12:29] EwanValentine commented on #28
@aykevl A Uno in my case, I've got a Grove Shield and a [Grove serial Bluetooth](https://wiki.seeedstudio.com/Grove-Serial_Bluetooth_v3.0/) module.

Ahh gotcha, yeah that makes sense, yeah this isn't integrated, effectively just an I/O 'thing'.

Thanks anyway, keep up the awesome work!

[2020-09-20 12:37] #28 closed, assigned to nobody

[2020-09-20 12:51] aykevl commented on #28
Yes, this shield appears to only support serial over Bluetooth Classic. That's not something this library supports right now, but might support in the future (we don't support BT classic right now).

[2020-09-20 13:27] EwanValentine commented on #28
@aykevl gotcha, thanks! Is there a suggested way of transmitting data to and from an Arduino using TinyGo at all? Could I use a Wifi shield maybe? Appreciate any pointers!

[2020-09-20 18:35] aykevl commented on #28
I guess that depends on what you want to do with it. I haven't personally done this, I prefer BLE connections with Nordic Semiconductor chips (nrf52832, etc) and I like more powerful ARM chips.

[2020-09-21 10:20] ecksun opened #30 "Add ability to disconnect device"
There seems to be no way to disconnect a connected device.

My current use-case is to develop testing software that runs on a linux machine and connects to a bluetooth server.

For that it would be very useful to have a function:

[code]

Following that it will probably be useful to also be able to list connected devices, however I will leave that for a future issue :)

[2020-09-21 10:53] deadprogram commented on #30
I would expect the API to look more like this:

[code]

Since presumably you would use like this

[code]

[2020-09-21 11:06] aykevl commented on #30
Yes, I agree with @deadprogram here. You want to disconnect a device, so it should be a method on a device. Also, some BLE stacks may forget about the address after the connection is established (such as the SoftDevice) so that the `Device` object is necessary to keep track of the connection handle.

This may be possible on some BLE stacks, but I'm pretty sure the SoftDevice (in nrf chips) does no

[2020-09-21 11:10] ecksun commented on #30
TL;DR: Sounds good :)

That was my first thought but since I also wanted the ability to disconnect devices without a device handle that wouldn't have worked.

Aha, I see

Ah, I see, thats nice and would cover most cases I guess.

But then if I run a program and send `SIGKILL` to it I would have to use `bluetoothctl` or similar to figure out which devices to "connect" and disconnect from.

Edit: Ju

[2020-09-21 11:58] EwanValentine commented on #28
Makes sense, cheers for the info!

[2020-09-22 07:15] andarm opened #31 "adapter.DefaultAdvertisement undefined"
adapter.DefaultAdvertisement undefined (type *bluetooth.Adapter has no field or method DefaultAdvertisement)

[2020-09-22 08:57] deadprogram commented on #31
What OS and program are you trying to compile, @andarm

[2020-09-24 10:57] gancuinoodle opened #33 "How to read the value of Characteristics. Did not find any interface can be read."
I got the Device, DeviceService, and DeviceCharacteristic objects, how do I read the value of Characteristic?

[2020-09-24 12:16] deadprogram commented on #33
That appears to have been overlooked, as we mostly have write/notify async use cases. We will work on getting that added soon.

[2020-09-24 12:23] gancuinoodle commented on #33
thks!

[2020-09-24 12:23] #33 closed, assigned to nobody

[2020-09-26 13:43] Feresey opened #35 "Field not found: Roles"
[code]

os: Archlinux
kernel: 5.8.10
bluez: 5.55
go:  1.15.2

[2020-09-26 14:13] Feresey commented on #35
Maybe go-bluetooth does not support bluez version 5.55. The latest version in the repo is 5.54.

[2020-09-26 18:27] Feresey commented on #35
Please update go-bluetooth to latest version

https://github.com/muka/go-bluetooth/commit/4ca7d8dd0ff58cbe28676bcde4bd76939aef6808

[2020-09-27 09:46] deadprogram commented on #35
Please try out https://github.com/tinygo-org/bluetooth/tree/update-go-bluetooth-linux branch which included the updated module. Thanks @Feresey

[2020-10-08 12:04] ecksun opened #39 "vendoring not possible because of missing dependencies"
I cannot seem to vendor my dependency in any project with a dependency on
tinygo.org/x/bluetooth.

I can't run `go mod tidy` with the same error as show below.

I get the feeling it is related to the tooling not understanding the build tags as the errors appear to be related to importing tinygo packages.

# Steps to reproduce

[code]

[2020-10-09 12:53] SpringHawk commented on #31
I have the same issue on MacOS, using Goland and trying to flash the advertisement example onto a feather-nrf52840.
The package is installed in my GOPATH alongside the project where I want to use it.
To install it I used `go get tinygo.org/x/bluetooth`.

[2020-10-11 00:56] andarm commented on #31
Window10

[2020-10-11 07:41] deadprogram commented on #31
@andarm please see https://github.com/tinygo-org/bluetooth#windows

[2020-10-11 07:42] deadprogram commented on #31
@SpringHawk you should probably open a separate issue.

[2020-10-12 00:03] SpringHawk opened #40 "header files not found nrf52840"
I am using an Adafruit Feather nrf52840 Express and try to flash it with the advertising example from the ReadMe. I am on MacOS using VSCode.

[code]

[2020-10-15 10:04] ecksun commented on #30
Oh, I must have forgotten to close this, this is obviously implemented and thank you very much for that :)

[2020-10-15 10:04] #30 closed, assigned to nobody

[2020-10-15 10:12] ecksun opened #41 "AdvertisementPayload.Bytes() is nil on linux"
It appears as if [AdvertisementPayload.Bytes()](https://pkg.go.dev/tinygo.org/x/bluetooth#AdvertisementPayload) is nil on linux.

What I specifically need is the [ManufacturerData](https://github.com/muka/go-bluetooth/blob/44d49b402aee74ccd4342e672223c19ca510bef6/bluez/profile/device/gen_Device1.go#L164) however I'm not sure how to fit that into the `AdvertisementPayload.Bytes()` interface.

[2020-10-15 17:13] deadprogram commented on #41
You mean you want to publish this data? `AdvertisementPayload` is for when you want to act as a peripheral.

[2020-10-15 20:43] ecksun commented on #41
No, i want the ManufacturerData which from the advertisement of other peripherals

Are you sure about that?

[Adapter.Scan](https://pkg.go.dev/tinygo.org/x/bluetooth#Adapter.Scan) takes a func(*Adapter, [ScanResult](https://pkg.go.dev/tinygo.org/x/bluetooth#ScanResult)) which contains an [AdvertisementPayload](https://pkg.go.dev/tinygo.org/x/bluetooth#AdvertisementPayload).

Obviously I can be mis

[2020-10-24 15:44] deadprogram commented on #39
I'm not sure that we are going to be able to handle module vendoring at the moment with the build tags that are needed to support TinyGo and various hardware platforms. I'll play around and see if I can figure something out.

[2020-10-24 18:59] aykevl commented on #39
There might be a way to do this.

First, look up the GOROOT that is used by TinyGo. For example, using:

[code]

Then you can use the GOROOT during the vendor operation:

[code]

[2020-10-25 15:07] aykevl commented on #41
`AdvertisementPayload.Bytes()` will always be nil on Linux, because BlueZ does not expose this information.

That said, adding manufacturer data to the `AdvertisementPayload` should not be very difficult to do, as BlueZ does expose this information. It's just not implemented yet.

[2020-10-25 22:06] ecksun commented on #41
Alright, good to know.

Are you suggesting doing something like this:

[code]

[2020-10-25 22:09] ecksun commented on #39
I see, I guess we can leave this issue open until it is, because it is a rather useful feature.

Alright, I'm not using TinyGo though :(

Anyway it's nice it's possible at all :)

[2020-10-25 22:58] aykevl commented on #41
Yes something like that (with map[uint16][]byte` instead of `map[uint16]interface{}`), or maybe even this:

[code]

[2020-10-27 11:57] aykevl commented on #40
I cannot reproduce this error, not on Linux and not on MacOS.
How are you running this from VS Code? I'm testing this directly from a shell where it works fine.

Could it be that you have Go modules disabled? I would recommend keeping the default value or enabling them, as the bluetooth package uses Go modules for dependencies (check using `go env GO111MODULE`).

[2020-10-28 08:58] deadprogram commented on #31
Windows support is being discussed in #13 so I am closing this as duplicate. Thanks!

[2020-10-28 08:58] #31 closed, assigned to nobody

[2020-11-22 15:42] deadprogram commented on #35
This has now been released with v0.2.0 thanks!

[2020-11-22 15:42] #35 closed, assigned to nobody

[2020-11-29 19:58] aykevl opened #46 "Recent version doesn't work on Debian buster"
I haven't investigated this issue yet, but I have bisected it.

Recent versions of the bluetooth package fail on the Raspberry Pi (Debian 10.4, BlueZ 5.50):

[code]

The commit introducing this is 2fb3b08920ae957edaa9deecbb7b16514a055068, introduced in #36.

[2020-11-29 20:02] aykevl commented on #46
Also confirmed this on my laptop, running Debian buster with BlueZ 5.50 (same as the Raspberry Pi).

[2020-12-09 20:19] mogenson commented on #46
I see the same thing. Ubuntu 20.04, bluez 5.53.

[2020-12-10 06:15] deadprogram commented on #46
Please give a try with this branch https://github.com/tinygo-org/bluetooth/tree/update-bluez-555 which updates the go-bluetooth package to the latest version with updated Bluez wrappers.

[2020-12-10 16:36] mogenson commented on #46
Unfortunately, I get the exact same output as before. I also tried on Arch Linux with bluez 5.55.

[2020-12-11 23:36] aykevl commented on #46
Same for me, it still doesn't work on the update-bluez-555 branch. I suspect it's because the bluetooth package assumes a newer BlueZ version. Maybe BlueZ has made a backwards incompatible change?

[2020-12-12 09:32] deadprogram commented on #46
I think it is something to do with changes to the wrapper generation in https://github.com/muka/go-bluetooth/commits/master/gen since the last working version, which at least on my machine is also https://github.com/muka/go-bluetooth/commit/f6113f7141c5f535bea0ce20d918383d4577efe8

Note that I am testing by running "old" version of BlueZ:

[code]

If reverting to older SHA of go-bluetooth "fixes"

[2020-12-14 17:14] mogenson commented on #46
I think that sounds good. Keeping on top of bluez releases is going to be a constantly moving target, so this probably won't be the last time something breaks :)

Happy to try out a new branch or PR when it's available.

[2020-12-21 21:40] lacendarko opened #48 "macos Big Sur (11.0.0) - INFO"
Hi, I would like to point out a problem I had with upgrading to macOS 11 and constantly getting an error "abort trap". Go to System Preferences -> Security & Privacy -> Privacy and add iTerm (or I guess Terminal if you're not using iTerm).

[2021-01-16 23:14] deadprogram commented on #46
@mogenson and @aykevl please give a try to #49 it appears to correct this issue on my machine with BlueZ 5.50 installed. Thanks!

[2021-01-18 16:55] aykevl commented on #46
A quick test shows that it doesn't crash anymore. I haven't checked whether it actually works but assuming you've tested it, LGTM.

[2021-01-19 00:03] antonfisher commented on #48
@lacendarko i think you meant "System Preferences" —> "Security & Privacy" —> "**Bluetooth**" 👍

[2021-01-20 15:01] mogenson commented on #46
Unfortunately the examples are still failing for me, but now with a different error:

[code]

[code]

[2021-01-22 07:55] deadprogram commented on #46
@mogenson I thought you were using Ubuntu?

[2021-01-22 09:49] deadprogram commented on #46
Also, you perhaps want to try 5.50:

[code]

This is the version that the recent commit downgraded to, which is, as @aykevl points out the current version on Raspian.

[2021-01-25 12:03] Gys commented on #48
For me it was a combination of both: "System Preferences" —> "Security & Privacy" —> "Privacy" -> "Bluetooth"

[2021-01-29 14:38] RudolfVonKrugstein opened #51 "Cannot compile inside docker"
When I try to compile an example:

[code]

Inside docker:

[code]

I get:

[code]

I am unsure if this is related to this package, or tinygo itself. But when I remove the

[code]

import, it works.

[2021-02-08 22:10] mogenson commented on #46
Sorry for the delay. I have a Ubuntu 20.04 laptop. Just haven't used it recently.

[code]

From the dev branch:
[code]

[2021-02-14 12:47] deadprogram commented on #46
@mogenson can you run this while running the program that fails?

[code]

Thanks.

[2021-03-08 22:58] knieriem opened #53 "examples/heartrate: use of rand.Intn appears to freeze the program on nrf51"
In revision 3e2ce45 examples/heartrate got extended, i.a. by implementing a heart rate value that changes over time using `rand.Intn`.

It seems, though, that in order to run examples/heartrate after this change on a micro:bit,
I have to replace `rand.Intn` by some other code (e.g. a constant, or some increasing integer);
then I am able to see the "tick" messages on the serial line, and I'm able t

[2021-03-08 23:16] aykevl commented on #53
I think this is caused by calling the NVIC hardware peripheral directly instead of through the SoftDevice.
This is definitely a bug, but fixing it may be somewhat involved.

[2021-03-09 04:30] nobonobo opened #54 "macOS support multiple services and notification"
target: macOS

The following code clears cache for characteristics that device-object has.
https://github.com/tinygo-org/bluetooth/blob/release/gattc_darwin.go#L91

If you call `service.DiscoverCharacteristics()` twice or more for multiple services, the previously built cache will be cleared.
Characteristics notification implementation depends on this cache.
Previous characteristics notification d

[2021-03-10 18:49] KlausJokisuo opened #55 "Write peripheral characteristics - MacOS how to?"
Hi,

First of all, thanks guys for this great library!

I'm trying to Write peripheral characteristics on macOS but I don't quite understand how to do it.
I've already checked the examples and I have a feeling that's it's not possible on macOS?

[2021-03-10 23:46] aykevl commented on #55
Can you give a bit more detail on what you are trying to do? Writing characteristics is supported on MacOS.

This is the method you will need: https://pkg.go.dev/tinygo.org/x/bluetooth?GOOS=darwin#DeviceCharacteristic.WriteWithoutResponse

[2021-03-11 10:48] KlausJokisuo commented on #55
@aykevl Thanks, somehow I missed that.

[2021-03-11 10:48] #55 closed, assigned to nobody

[2021-03-15 23:50] erik opened #57 "Adapter.Connect is not thread-safe on Mac OS"
When running `adapter.Connect` calls concurrently, I've noticed that connection attempts to a non-existent address sometimes successfully return with the data of other devices.

Minimal repro:

[code]

In the Mac OS implementation of `Adapter`, newly connected devices are sent over a channel which is shared between all callers ([`Adapter.connectChan`](https://github.com/tinygo-org/bluetooth/blob/r

[2021-03-16 11:30] eripe970 opened #58 "Device DiscoverServices empty on Mac"
Using macOS 11.1. Sacnning and connecting to a peripheral works good but I don't get any services when trying to discover them. Anyone else that experiences the same problem? Some devices seem to work but not all.

[2021-03-17 13:29] lacendarko opened #60 "Device property changes"
Hello, is there a reason why not to use `util.MapToStruct()` here:

[code]

I added some fields to `AdvertisementFields` struct and they did not update, so I fixed it like this. But I was just wondering if there is a reason why I should't do this?

Thanks.

[2021-04-16 15:33] deadprogram opened #62 "microbit-v2: add instructions on how to install softdevice firmware"
Need to add instructions on how to install softdevice firmware on v2 board.

[2021-04-24 13:26] cswank commented on #58
I'm having the same problem.  I get a timeout when calling DiscoverServices()

[2021-05-01 17:04] deadprogram opened #63 "nrf52840: Scan not working as expected"
Took me a while to actually report this, because I thought it had to be some problem on my machine, but after testing on another system, I think it is something.

I am currently unable to `Scan()` from the three different nrf52840 devices that I have tried (Itsybitsy-nRF52840, Circuit Playground Bluefruit, and Clue) using either the latest `release` or `dev` branches of both TinyGo and Bluetooth.

[2021-05-02 14:59] aykevl commented on #63
I have tested the PCA10040 and Circuit Playground Bluefruit and they both work on my side.

This is the binary that I'm using on the Circuit Playground Bluefruit, that I have tested and confirmed to work:

[code]

Here is the file: [scanner.zip](https://github.com/tinygo-org/bluetooth/files/6411621/scanner.zip) (encoded in a zip file otherwise GitHub won't allow the upload).

[2021-05-02 17:37] deadprogram commented on #63
I downloaded that file:

[code]

Copied to my Circuit Playground Bluefruit. Appeared to flash as expected, but no data coming from USB CDC.

BTW this is the bootloader version I have on the board:

[code]

[2021-05-02 17:52] aykevl commented on #63
It appears that you have a newer bootloader, from Jan 19 2021. Mine is much older:

[code]

Is this perhaps an older board that has an updated bootloader, or one you bought recently?

[2021-05-02 18:45] deadprogram commented on #63
Yes, I have updated the bootloader. I previous tried with several different of the most recent versions (0.4, 0.5) actually just to be sure. Did not help.

[2021-05-04 08:58] ty2 opened #64 "ParseMac func macIndex counter bug"
If the mac address is valid macIndex should equals to -1

https://github.com/tinygo-org/bluetooth/blob/28f9f4e69ea8116eb3f180ec9c050cf9d27aa82c/mac.go#L39

[2021-05-04 09:04] ty2 commented on #64
PoC here:
https://play.golang.org/p/1CXwJzsysyb

[2021-05-06 19:35] deadprogram commented on #63
This is where I obtained the updated bootloaders from: https://github.com/adafruit/Adafruit_nRF52_Bootloader/releases

[2021-05-11 18:15] ldenefle commented on #58
I'm running in the same issue.

[2021-05-18 16:43] deadprogram commented on #63
Additional update: this package worked within last couple of months with v0.4.0 bootloader on my ItsyBitsy nRF 52840 board. So it is not just a question of bootloader version.

[2021-05-19 11:10] aykevl commented on #63
Well that's interesting. In that case it might be a compiler change too.

[2021-05-19 11:26] aykevl commented on #63
How did you update the bootloader? According to the release notes, it can only be done easily when you're already on version 0.4.0 or higher:

And when I tried updating that way, nothing seemed to happen: the file just sits there on the virtual FAT drive.

[2021-05-19 12:11] deadprogram commented on #63
https://tinygo.org/docs/reference/microcontrollers/circuitplay-bluefruit/#updating-the-uf2-bootloader :smile_cat:

[2021-05-19 12:35] aykevl commented on #63
Thank you! I will try that later.

[2021-05-27 20:26] deadprogram commented on #63
Any updates on this by any chance? Or ideas on how it could be debugged?

[2021-06-01 02:29] temphiza opened #66 "How to get ManufacturerData"
Hi guys!

Excellent work you have done here, I'm wondering how to get Manufacturer Data at scanning time, I would really appreciate your help solving this.

Best regards!

[2021-06-01 12:53] aykevl commented on #66
Manufacturer data is not currently implemented. However, it's probably not very difficult to add. Most changes will be to gap.go. If you want to try adding it, you can take a look at `HasServiceUUID`. For example, the API could look like this:

[code]

[2021-06-12 02:08] andrewrynhard opened #67 "Connection not working on nRF52840-DK"
I have flashed the heart rate example to a [nRF52840-DK)](https://www.nordicsemi.com/Software-and-tools/Development-Kits/nRF52840-DK) board, and am unable to get anything to connect. It seems that they get the initial advertised services, but the connection eventually times out. Not sure what you need from me, but happy to share whatever.

[2021-06-13 10:38] aykevl commented on #67
Sadly my nrf52840-DK has died so I can't reproduce it locally.

One thing you can check: are you using the correct SoftDevice? Try `nrfjprog -f nrf52 --eraseall`, then flashing the SoftDevice (S140) and then the heart rate example. Also, what app are you using to connect? I usually nRF Connect from Nordic, which works great for debugging all kinds of BLE issues.

If you are able to connect (you ca

[2021-06-13 14:21] andrewrynhard commented on #67
Here are the steps I took:

- Download and unpack the SoftDevice firmware from https://www.nordicsemi.com/Software-and-tools/Software/S140
- Flashed the SoftDevice firmware: `nrfjprog --family NRF52 --chiperase --verify --program s140_nrf52_7.0.1_softdevice.hex`
- Flashed the example: `tinygo flash -target=pca10056-s140v7`

I can see output on the serial console. I have also tried building with `t

[2021-06-13 16:17] aykevl commented on #67
Hmm, strange. So the console output doesn't show anything unexpected, like an error?

[2021-06-13 18:40] andrewrynhard commented on #67
It does not. Relatively new to this space, so anywhere you want me to look, just point me in the direction.

[2021-06-18 08:23] nobonobo opened #68 "16bits UUID byte format on macos is different from other platforms."
DIS service discovered UUID on macos:
`180a0000-0000-0000-0000-000000000000`

DIS service discovered UUID on others:
`0000180a-0000-1000-8000-00805f9b34fb`

specification:
128_bit_value = 16_bit_value * 2^96 + Bluetooth_Base_UUID

[2021-06-20 09:04] deadprogram commented on #68
Seems related to https://github.com/JuulLabs-OSS/cbgo/pull/3 what do you think @nobonobo?

[2021-07-02 00:03] nobonobo commented on #68
Perhaps this line will convert the UUID of unknown length to a string and parse it.
As a result, I think I got a UUID byte string that is different from other platforms.

https://github.com/tinygo-org/bluetooth/blob/28f9f4e69ea8116eb3f180ec9c050cf9d27aa82c/gattc_darwin.go#L28

May be, We will need support 32bits UUID format for JuulLabs-OSS/cbgo#3.

[2021-07-03 19:56] oflebbe commented on #63
Actually Advertising in https://github.com/tinygo-org/tinygo/issues/1949 is not working correctly as well. Sometimes the intervals are 40sec rather in the 0.1sec range.

[2021-07-05 00:06] aykevl commented on #63
I'm not sure what you mean? The issue in tinygo-org/tinygo#1949 is very different and is about a stack overflow. That _might_ also be the case here but I doubt it. In the case of this bug, it has most likely something to do with the bootloader.

[2021-07-05 19:34] oflebbe commented on #63
I found the issue: I had a device (mobile) around which tried to connect to the Heart Rate Services.  Sorry. Please disregard my comment.

[2021-07-06 15:04] aykevl commented on #63
I still can't reproduce the issue. I have updated the bootloader on my Circuit Playground Bluefruit:

[code]

Then flashed the scanner example:

[code]

And it works as expected.

@deadprogram can you try with the exact same bootloader as I have above (0.4.1, following the link you gave me) and this [scanner.zip](https://github.com/tinygo-org/bluetooth/files/6770947/scanner.zip) binary? (Extract b

[2021-07-06 22:29] deadprogram commented on #63
OK this is a bit weird. The file you sent worked as expected even with bootloader 0.5.0.

Then I tested with the latest TinyGo release, and it also worked as expected.

I do not think it was any code change, must have been some problem with cached files? I am going to experiment a bit more now before closing.

[2021-07-06 22:38] deadprogram commented on #63
Able to build/run examples on other Adafruit boards now as well. Must have been some cached files.

I will close now, and reopen if needed. Thanks for your patience @aykevl

[2021-07-18 19:14] bgould opened #70 "Support Arduino nina-fw"
It appears that if you pull the right pin low when an ESP-32 module with the Arduino nina-fw (e.g., Arduino Nano IOT, Adafruit Metro M4 Airlift, Pyportal, etc) it will put the module into Bluetooth mode at startup:

https://github.com/arduino/nina-fw/blob/fc6bd42754ecf8e32079f9f2f3bec22d177ce0bf/main/sketch.ino.cpp#L108

it appears the same functionality also exists in the Adafruit fork:
https://g

[2021-07-24 03:09] eldondev commented on #67
Could this be related to #53 ?

[2021-07-24 03:19] eldondev opened #71 "Issue advertising device name > 8 characters on adafruit nrf52840 feather"
I am attempting to run a modification of the nusserver example on an adafruit nrf52840 feather. It works when the size of the LocalName advertised is 8 characters or less. When more than 8 characters, it does not seem to work, as scanning never locates the name. I will try to collect additional logging. When running identical code on a regular linux host, it seems to work.

[2021-07-25 12:40] aykevl commented on #71
Did you check whether the `Configure` method returns an error?

[2021-07-26 16:16] deadprogram commented on #13
Just saw this new project: https://github.com/tdakkota/win32metadata

Seems like could be very helpful.

[2021-07-26 23:24] eldondev commented on #71
Yes, it did! I was overflowing the bounds of the advertisement packet size, with the addition of the service uuid I was advertising. Since I control both client and server, I just advertise the device name, since I already know about the services. Thanks!

[2021-07-26 23:25] #71 closed, assigned to nobody

[2021-07-29 04:49] drahnieR opened #72 "BLE Security"
I'm trying to implement bluetooth security with go on an ubuntu box.

So it seems that muka/go-bluetooth does support those security related flags
https://github.com/muka/go-bluetooth/blob/33cdf2e25bf13c1883beefb53986fce1a7ad04a8/bluez/profile/gatt/gatt.go

But why only those without security are included in tinygo-org/bluetooth ?
https://github.com/tinygo-org/bluetooth/blob/b568c932506aad103c549e

[2021-08-10 20:39] james-lawrence commented on #46
this looks like its due to muka generating invalid UUIDs if passed 128 bit uuids for a service.

[2021-08-11 22:02] james-lawrence opened #75 "bidirectional data transfer support?"
looking at the examples I don't see a way to implement bidirectional data transfer. the uart looks close but I don't see how one can read data.

[2021-08-13 00:33] khaelou opened #76 "AdapterExists: 'Rejected send message' via Chrome OS Debian Linux"
I followed the guide considering installation on Linux however I'm getting this error when running example:

![Screenshot 2021-08-12 6 30 45 PM](https://user-images.githubusercontent.com/28240459/129286652-c90d4cc0-0537-400a-9690-2441ac415387.png)

Any suggestions? I'm sure this isn't a bug yet I'm having a hard time understanding why such panic occurred.

[2021-08-15 19:11] zy84338719 opened #77 "Apple m1 arm64 not run and build"
<img width="807" alt="截屏2021-08-16 03 11 10" src="https://user-images.githubusercontent.com/30000714/129489743-1d4ab3b8-ecf9-4fa0-bda1-6d185f87a122.png">

[2021-09-04 08:15] gedw99 commented on #48
Not working on MAC for me btw...

If there is anything i can do to help debug let me know...

I enabled bluetooth access to the scanner binary example.

![MAC-bluetooth-settings](https://user-images.githubusercontent.com/53147028/132087784-4c8a8402-c405-4cca-be13-3398a88553c8.png)

[code]

[code]

env:

[code]

[2021-09-04 10:08] deadprogram commented on #48
TinyGo 0.19 is not compatible with Go 1.17.  Please see https://github.com/tinygo-org/tinygo/issues/2080

[2021-09-11 16:48] MatejMagat305 opened #78 "is it useable for android?"
Hi I m coding in https://github.com/fyne-io/fyne, and it can run on android, it this library suitable for android?

[2021-09-18 16:38] deadprogram commented on #78
Hello @MatejMagat305 not at this time. I will look into what would be required, but seems like it would take quite a bit of work.

[2021-09-20 10:05] gedw99 commented on #78
I was going to ask exactly the same thing.

I am building hardware with haptics and ble, and from the APP need to communicate it. I use GIO not fyne.

[2021-09-20 10:30] MatejMagat305 commented on #78
it never mind wheter fyne or gio(although in my opinion it fyne more clear, but it is only my.......), mainly it will wonderfull when this library will suport android maybe the authors might also think about iOS, but I think the android is more comon and opensource........

[2021-09-29 12:32] Chillimeat opened #80 "How do I get the returned packets（PDU）"
I want to test how to get company name,How do I get the returned packets（PDU）？

[2021-10-08 11:21] dbarrosop opened #81 "problems with arduino nano 33 ble"
Hello,
I am trying to use this package with an arduino nano 33 ble, which is based on the nrf52840, but I get the following error:

[code]

Is this board supported?

Thanks!

[2021-10-24 20:42] ysoldak commented on #81
Hi, @dbarrosop

Arduino Nano 33 BLE [Sense] boards are not directly supported right now.

I have couple of such boards and plan to use them with TinyGo.
I've just successfully flashed one board via debug interface with help of J-Link.
Would be nice to use regular USB, of course, to skip soldering and requirement of having a debug probe.

I've tried SoftDevice s140v7 and advertisement example, and

[2021-10-25 19:11] ysoldak commented on #81
@dbarrosop Please see here for instructions
https://github.com/tinygo-org/tinygo/pull/2204

[2021-10-26 11:32] dbarrosop commented on #81
Awesome, I will try to find some time to test it. If I understood you correctly, in order to flash the board with `tinygo flash...` the J-Link probe is needed, right?

[2021-10-26 12:24] ysoldak commented on #81
`tinygo flash` in this case uses `nrfjprog`and that in turn requires J-Link probe, so yes.

[2021-10-27 13:08] aykevl commented on #81
You can probably also use other programmers (for example, one that's based on DAPLink) but then you have to specify it using the `-programmer` flag.

[2021-11-18 17:51] #57 closed, assigned to nobody

[2021-11-22 14:58] idefixcert commented on #48
I still have the problem that scanner does not work.
I also use go 1.17 but it seems the issue mentioned ago is fixed?

By does not work I mean:
* I can compile and start.
* but it does not find any device.

[2021-12-07 14:18] moderateroni commented on #76
@khaelou , try running your go program with sudo.. perhaps you need to use the absolute path for your go binary, but then it should work... something like sudo /usr/local/bin/go run main.go

[2021-12-13 12:01] deadprogram commented on #63
Reopening because it is happening again :(

Sometimes after a really long time (1 hour or more?) it will catch a couple of scans, but then nothing again.

[2021-12-17 10:59] aykevl commented on #63
Still works for me.

- TinyGo version: e4de7b49575c28fcd3a446e7478687e9611d110a
- Command: `tinygo build -o test.uf2 -target=circuitplay-bluefruit -size=short -print-stacks ./examples/scanner/`
- md5sum: 5c8ea52975d3991e87bf7419beb6a998 (test.uf2)

[2021-12-19 21:26] khaelou commented on #76
@moderateroni Will try this, not really an issue so I'll close this 👍

[2021-12-19 21:26] #76 closed, assigned to nobody

[2021-12-28 10:47] MatejMagat305 commented on #78
I  was trying (my experimental library: [bluetooth](https://github.com/MatejMagat305/bluetooth_with_fyne_mobile/tree/main/fyne_bluetooth/bluetoothSocket)) and after that I was searching how it is on android and it will be able after implemention of permision therefore I create isues: https://github.com/golang/go/issues/50104. Although [jni in android](https://android.googlesource.com/platform/fram

[2022-01-06 21:41] aakselrod opened #89 "Interface conversion mismatch when attempting to scan and advertise at the same time"
Using:
* this library at release 0.4.0
* bluez 5.60
* github.com/muka/go-bluetooth v0.0.0-20211227073548-985739196620
* the `DefaultAdapter` object

I attempt to `AddService` and advertise in one goroutine and `Scan` in another goroutine, it looks like the `Scan` function mishandles a value from dbus with the following error:

[code]

I believe there should be a switch there, handling the possibil

[2022-02-10 16:39] quentinlesceller commented on #77
I have no trouble compiling this on MBP M1 Max. I suggest closing that one.

[2022-02-24 15:13] skast96 opened #91 "Internal Characteristic.Write calls CharacteristicConfig.WriteEvent which could lead to an infinite loop"
Hello,

I have a specific case where the call of Characteristic.Write can lead to a infinite loop. A write call updates a UART device with new values. The UART device sends back the acknowledgement of those values, which I set to the newest characteristic value, which I can only set with Characteristic.Write. This leads to an infinite loop.

I forked the repository and added this

[code]

I wanted

[2022-02-25 09:07] skast96 opened #92 "Bluetooth Peripheral Client connection"
Is there a way to recognize if a client is connected/disconnected to my peripheral ?

[2022-03-02 17:42] aykevl commented on #92
I don't believe so, at the moment.

[2022-03-04 07:38] skast96 commented on #92
Is there a plan to implement this feature? Otherwise I will do it myself and make a PR.

[2022-03-06 04:29] alhuneid opened #93 "add support for S112 for nRF52 devices"

[2022-03-12 02:42] DiscreteTom opened #94 "Lazy read value?"
Is there any way to evaluate a `Characteristic.Value` when I read the value?

[`muka/go-bluetooth`](https://github.com/muka/go-bluetooth) can use [`onRead`](https://github.com/muka/go-bluetooth/blob/07f31c601d335ebe336c5923b2b66b2420d8e8aa/api/service/app_char.go#L153) to setup a read callback, can this repo add something like `CharacteristicConfig.ReadEvent`?

[2022-03-21 18:29] mo6zes commented on #48
@idefixcert I do experience the same issue, it does not find any devices. Have you found a solution?

[2022-03-24 07:31] skast96 commented on #92
Needed it for characteristics to only fire when a client has enabled notifications. Added it in the library used by tinygo/bluetooth. Here is the PR for reference https://github.com/muka/go-bluetooth/pull/157

[2022-03-24 07:31] #92 closed, assigned to nobody

[2022-03-26 17:18] stevekuznetsov commented on #78
@deadprogram is there a good doc to understand what's different about the Android BLE stack to get a better idea of what would be necessary to support that in this library? I would like to write a cross-platform app using BLE but am stuck without support for BLE on Android in Go. If It's something accessible, I might be able to work on this support for the library here.

[2022-03-26 20:55] MatejMagat305 commented on #78
@stevekuznetsov I was trying implement it like socket (above), but now I think we need resolve: https://github.com/golang/go/issues/50104, and maybe only way how implement it is jni, I want implement some part (read, write with bluetoothadapter) in summer, do you join to me?

[2022-03-26 21:05] stevekuznetsov commented on #78
@MatejMagat305 I am not very familiar with the system so I'd have to understand more about how Android wants to handle BLE first, but maybe!

[2022-03-27 11:18] mytechnotalent opened #96 "rawterm nuserver/nuclient does not echo chars or read/send chars"
I implemented the nuclient on a CP Bluefruit and the nuserver on a CP Bluefruit.  They do connect as the following is displayed in the client.
`
Connecting to the NUS (MAC...)
Discovering service...
Connected.  Exit console using Ctrl-X.
`

When you attempt to type a keystroke nothing is echoed and when you hit return nothing gets sent from either the client or the server.

[2022-03-27 18:23] MatejMagat305 commented on #78
@stevekuznetsov so, I m not big expert to Android OS, but .............., I would like have bluetooth access from go ............

[2022-06-01 11:08] jagobagascon commented on #13
Hi @deadprogram

We are really interested in having a functioning Windows implementation. And I did some tests with the library you mention, but before that let me add some background for the people that is not familiar with the windows implementation:

## A tiny bit of background

The Windows implementation uses the WinRT (which stands for Windows Runtime) API. And calling this API from Go is qui

[2022-06-01 11:36] deadprogram commented on #13
Thanks for all this @jagobagascon that is incredibly helpful, and good idea to try to enlist others in this quest.

[2022-06-11 03:13] tmtong opened #102 "Cannot compile in windows"
I install cygwin in windows 10

[code]

[2022-06-23 18:42] rvt opened #103 "adapter.Scan seems to hang after disconnect from device :: match rules issue??"
Disclaimer: Just started to learn go

When I run the below code on a linix machine I get the below result:

[code]

I do connect correctly to the device and receive the serial. When I reset the device it correctly disconnects and when the scan route starts it seems to 'hang' and does not come back with any results.

Update 24 Jun:
In the log I am finding :
[code]
After increasing the value 8192 I

[2022-06-23 18:54] dmlambea opened #104 "gatts/sd: attribute values cannot be placed on user RAM"
SoftDevice service characteristics can use user RAM for their attribute values but the current implementation in `gatts_sd.go` forces the values to be placed on stack. This puts a limit on the amount of characteristics the device can define.

[2022-06-25 20:08] rvt opened #106 "EnableNotifications calls StartNotify, but there is no StopNotify ??"
The API has:

[code]

But I do not see a way to call `StopNotify()`

Wouldn't `EnableNotifications(..)` not keep creating duplicate events? when calling `EnableNotifications(...)`

Added to it, I though also `Confirm(..)` if I do not confirm it looks like I receive duplicate messages in the byte array of `EnableNotifications(..)`

[2022-07-08 18:53] rvt commented on #106
Closing, It does not look like it's needed

[2022-07-08 18:53] #106 closed, assigned to nobody

[2022-07-08 18:53] #103 closed, assigned to nobody

[2022-07-10 22:05] bartmeuris commented on #102
I got it working with the 64bit version of msys2 ( https://www.msys2.org/ ) - but windows support is currently very lacking, it only supports some (very basic) scanning at the moment.

[2022-07-11 19:14] deadprogram commented on #102
Please see https://github.com/tinygo-org/bluetooth/issues/13

[2022-08-13 20:58] Suniron opened #109 "Failed to "enable BLE stack" on WSL2 > Ubuntu"
Hello,

When i'm trying to run the example code (`examples/scanner/main.go`), i got this error:

[code]

My developement environement is an Ubuntu distro in Windows 11 WSL2 host.

Thank's by advance

[2022-08-15 18:58] rvt opened #110 "null pointer exception in gap_linux.go#L159"
HEy,

After testing my application for a relative long-ish time of scanning and receiving data over bluetooth LE received the following SIGVER

[code]

Looking at the code on that line, and possible the comments above it looks like it's possible for a race condition where the channel is closed and we still receive a 0 value of the channel?

The code here : https://github.com/tinygo-org/bluetooth/b

[2022-08-17 08:33] jagobagascon commented on #13
A small update.

We've been working on a tool to automatically generate the required WinRT classes. Our goal was to have **a simple code generator to assist us adding the missing features for windows**, so we do not expect to generate all WinRT APIs, only the ones we need.

On the other hand, @zzl has also been working on it's own WinRT generated code. And created a repository with all the WinRT A

[2022-08-29 08:56] jagobagascon commented on #13
I'm happy to announce that we just made [WinRT Go](https://github.com/saltosystems/winrt-go) publicly available for anyone to use. And we are ready to push all the  changes required to act as a BLE central on Windows.

[2022-08-29 09:10] jagobagascon commented on #13
@deadprogram now that [WinRT Go](https://github.com/saltosystems/winrt-go) went public, **are you okay with adding a dependency to it?**

I think it's the best option. The library already contains all the necessary code to implement the missing Windows features. And also to replace the existing, manually written, WinRT interfaces.

But, if you wanted to, we are open to tweak the code generator a l

[2022-08-29 17:26] deadprogram commented on #13
@jagobagascon congrats on https://github.com/saltosystems/winrt-go hopefully others will contribute to it and add other Windows APIs

I'm totally OK with having an external dependency, we have others already for other OS so why not?

Really looking forward to having this, and thank you!

[2022-08-30 19:09] deadprogram commented on #68
This has now been fixed in #113

Thanks for helping out @nobonobo

I will marked it to be closed after the next release.

[2022-09-08 14:19] aykevl commented on #13
Whoa, just wanted to say I'm very happy with the direction here! I haven't looked at the code though. But I basically only made a proof of concept and hoped someone would continue the work to get Bluetooth properly supported on Windows.

Generated WinRT bindings are certainly the way to go.

[2022-09-15 17:37] deadprogram commented on #13
At long last thanks to @jagobagascon and colleagues we have Windows central support coming in the next release!

[2022-09-16 09:40] aj3423 opened #118 "Fail on connect: Properties.GetAll org.bluez.Device1: Method "GetAll" with signature "s" on interface "org.freedesktop.DBus.Properties" doesn't exist"
It's strange that yesterday it still works, but today it shows error when connecting to a bluetooth device:

The code:
[code]
I tried to reboot my machine, still no luck. But it can be connected from `bluetoothctl` -> `connect <MAC>`.

I'm on Kali Linux, How to trace the problem? Thanks.

[2022-09-16 09:48] deadprogram commented on #118
Did you happen to update your Bluez by any chance? Sounds a lot like it.

[2022-09-16 11:12] aj3423 commented on #118
@deadprogram I checked `/var/log/apt/history.log`, I didn't upgrade in 48 hours, but I did hibernate the PC yesterday and restored it this morning. I thought maybe the hibernation causes it so I tried reboot, but problem still exists.

I upgrade the system just now, there is an upgrade for *bluetooth*, *bluez*, now it shows another error:

[2022-09-23 12:54] KeganHollern opened #119 "Windows Implementation needs to use ReadValueWithCacheModeAsync"
Hello,

I am testing on the dev branch with an [Aranet4](https://aranet.com/products/aranet4/) device.

The my sample code for reading characteristic values works from Linux and OSX, but the windows implementation is not functioning.

I believe this [stackoverflow](https://stackoverflow.com/questions/63336568/bluetooth-le-characteristic-values-only-read-once) post explains the problem. By using th

[2022-09-24 11:40] deadprogram commented on #119
@jagobagascon have you seen this?

[2022-09-26 07:07] jagobagascon commented on #119
This is something we encountered on service and characteristic discovery. And fixed it disabling the cache on those methods:
https://github.com/tinygo-org/bluetooth/blob/8fae59774538b7110f95849c79cc9bde6c164459/gattc_windows.go#L35
https://github.com/tinygo-org/bluetooth/blob/8fae59774538b7110f95849c79cc9bde6c164459/gattc_windows.go#L152

And somehow we missed the read method. I added a PR to fix

[2022-10-05 15:49] MykolaRodin opened #122 "Linux implementation of WriteEvent callback does not correctly update the characteristic's value for subsequent reading"
Hi,

## Prerequisites:
My OS is Ubuntu 20.04 with default Bluez 5.53. My laptop is HP with Realtek Bluetooth chip. It looks like I have encountered an issue when trying to implement WriteEvent callback for a characteristic.

## Root cause:
In accordance with https://github.com/tinygo-org/bluetooth/blob/release/examples/ledcolor/main.go it can be performed like that
[code]
Here the initial characte

[2022-10-21 05:29] Elara6331 opened #125 "Allow changing adapter ID in Linux backend"
The bluetooth library used for Linux simply returns `hci0` as the DefaultAdapter. This is constant and never changes. On all systems, DefaultAdapter will be `hci0`, even if `hci0` doesn't exist. Sometimes, `hci0` does exist, but users cannot or don't want to use it for one reason or another. There should be a way to use a specific adapter ID.

I'm thinking something like `func AdapterByID(id strin

[2022-10-21 21:00] Elara6331 opened #126 "Implement reconnects when device disconnects"
Currently, there doesn't seem to be a way to reconnect to a device if it disconnects when acting as a central. This could either be implemented in the library itself, or OnConnect (which already seems to exist in the form of `SetConnectHandler()`) and OnDisconnect callbacks can be added, allowing callers to implement it themselves.

[2022-10-26 10:12] deadprogram commented on #126
Having a disconnect handler seems like a most excellent idea!

[2022-10-26 21:57] mark-a-johnson opened #127 "Mac Questions"
This toolkit is working great for me but have some questions about the beacon address on a Mac - where does this come from?  I have various applications on my iPhone that report the address but when using the Scan() method to show Bluetooth devices I get a completely different address.

Update: Never mind - I found some documentation about the CoreBluetooth hiding the original UUID and making a ne

[2022-10-27 18:07] #127 closed, assigned to nobody

[2022-10-27 20:36] deadprogram commented on #119
This was released in v0.6.0 so now closing. Thanks, everyone!

[2022-10-27 20:36] #119 closed, assigned to nobody

[2022-10-27 20:37] deadprogram commented on #68
The fix for this has been released, so now closing. Thank you!

[2022-10-27 20:37] #68 closed, assigned to nobody

[2022-10-27 20:38] deadprogram commented on #66
Closing since is was implemented and released. Thank you!

[2022-10-27 20:38] #66 closed, assigned to nobody

[2022-10-27 20:38] deadprogram commented on #13
Closing, since this has been released! :1st_place_medal:

[2022-10-27 20:38] #13 closed, assigned to nobody

[2022-11-11 14:03] okvorb opened #128 "adapter.StopScan() not thread-safe"
According to examples StopScan() must be called from Scan() callback but it is not always  convinient way to stop a scanner. It will be nice to have an option to call StopScan() method from another goroutine thread safely. Current implementation leads to data race warning on MacOS (but not on Ubuntu/Linux) on next line inside StopScan() method :

`if a.scanChan == nil {`

_a.scanChan_ variable is

[2022-11-20 12:14] mytechnotalent opened #129 "DefaultAdapter not declared by package bluetooth compiler (UndeclaredImportedName)"
I wired up a HC-05 to a Raspberry Pi Pico's UART0.  I connect the 3.3 to 3.3 and gnd to gnd and tx to GP1 and rx to GP0.

When working with the stock example:
[code]

The error:
[code]

Is there additional setup necessary?  There is nothing in the example showing how to handle the `DefaultAdapter` as the `bluetooth` mod on line 9 does not recognize it.

I am simply looking to run this example to c

[2022-11-20 17:24] jfelixfalcon commented on #129
I'm dealing with the same error, and it was due to an OS mismatch. Check the table in front and ensure your OS supports it. I was developing on a MAC so I had to change my env target OS to Linux.

[2022-11-20 18:54] mytechnotalent commented on #129
Thanks @jfelixfalcon.  The issue is I am not making a central but a peripheral for the MCU, specifically the PICO.  I can't even get it to compile as the code does not recognize the `DefaultAdapter` and it is unclear in the docs how to get even a basic setup working.

[2022-11-27 15:00] mytechnotalent commented on #129
@aykevl can you provide an example on how we can use this?

```var adapter = bluetooth.DefaultAdapter```

I have both a Win10 TinyGo and MAC intel and MAC M1 setup for TinyGo.  None of the three are working with the example.  I am using a HC-11.

I would love to use TinyGo with bluetooth but just need to get an understand here as the `DefaultAdapter` is not obvious to populate properly.

[2022-11-27 15:24] deadprogram commented on #129
In order to use a device like the HC-11 on Linux, you would need to have a Linux kernel driver that let you use it from BlueZ. A brief search of the internets did not turn up anything immediately on that.

As far as using it bare metal, the support for the AT command set on that device would need to be added for it to work. At present, we only have support for the Nordic Semi stack.

Hope that hel

[2022-11-27 15:32] mytechnotalent commented on #129
The issue @deadprogram is getting it to compile.
```DefaultAdapter not declared by package bluetooth compiler (UndeclaredImportedName)```